<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.zthxxx.ChickenDinnerDaily</string>
	<key>WorkingDirectory</key>
	<string>/Users/zthxxx/Library/LaunchAgents</string>
	<key>EnvironmentVariables</key>
	<dict>
		<key>LISTENER_WORKING_DIR</key>
		<string>~/Library/Scripts/chicken-dinner</string>
	</dict>
	<key>ProgramArguments</key>
	<array>
		<string>bash</string>
		<string>-lc</string>
		<string>
			echo;
			echo "[`date`] start punch post";

			eval LISTENER_WORKING_DIR="${LISTENER_WORKING_DIR}";
			cd "${LISTENER_WORKING_DIR}";
			export PYTHONIOENCODING=utf-8;
			. venv/bin/activate;
			python -m src.punch;
		</string>
	</array>

	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>20</integer>
		<key>Minute</key>
		<integer>3</integer>
	</dict>

    <key>StandardOutPath</key>
    <string>../Logs/ChickenDinnerDaily/punch.log</string>  
    <key>StandardErrorPath</key>  
    <string>../Logs/ChickenDinnerDaily/punch.log</string>
</dict>
</plist>