config = {
    'ssid_pattern': '',
    'login': {
        'username': '',
        'password': ''
    },
    'punch': {
        'route': '',
        'api': ''
    },
    'portal': {
        'route': '',
        'api': ''
    }
}
